body {
    background-image: url(../images/bg.jpg);
    max-width: 1000px;
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    
}

#trivia {
  font-size: 20px;
}

h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 50px;
}